<!-- Centralized head resources: favicon, design tokens and common CSS, fonts, and font-awesome -->
<link rel="icon" href="/AHM_WEB/AHM_Website/assets/icons/favicon.svg" type="image/svg+xml">
<link rel="stylesheet" href="/AHM_WEB/css/design-tokens.css">
<link rel="stylesheet" href="/AHM_WEB/css/responsive.css">
<link rel="stylesheet" href="/AHM_WEB/css/atoms.css">
<link rel="stylesheet" href="/AHM_WEB/css/molecules.css">
<link rel="stylesheet" href="/AHM_WEB/css/organisms.css">
<link rel="stylesheet" href="/AHM_WEB/css/forms.css">
<link rel="stylesheet" href="/AHM_WEB/css/components.css">
<link rel="stylesheet" href="/AHM_WEB/css/phase3.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" />
